@import "../../abstract/_variables";

.single__product {
  &--cart {
    height: 6rem;
    position: relative;
    border-bottom: none;
  }

  &--description {
    min-height: 17rem;
    padding-left: 0;
    padding-right: 2rem;
    &-title {
      margin-top: 6%;
    }
  }

  &--quantity {
    position: absolute;
    top: 50%;
    left: 32%;
    transform: translate(-50%, -50%);
  }

  &--arrows {
    position: absolute;
    top: 55%;
    left: 85%;
    transform: translate(-50%, -50%);
    &-container {
      height: 6rem;
      margin-left: -1rem;
      .arrow-up,
      .arrow-down {
        display: block;
        font-size: 2.5rem;
        height: 30%;
        margin-bottom: 0.5rem;
        cursor: pointer;
        transform: scale(0.3);
      }
    }
  }

  &--add-to-cart {
    height: 6rem;
    line-height: 6rem;
    vertical-align: middle;
    text-align: center;
    cursor: pointer;
    &:hover {
      background-color: $color-white;
      color: $color-black;
      padding-left: 0;
    }
  }

  &--empty {
    height: 6rem;
    line-height: 6rem;
    vertical-align: middle;
    text-align: center;
    cursor: pointer;
    display: none;
    &:hover {
      background-color: $color-white;
      color: $color-black;
      padding-left: 0;
      a {
        color: $color-black;
      }
    }
  }

  &--checkout {
    height: 6rem;
    line-height: 6rem;
    vertical-align: middle;
    text-align: center;
    cursor: pointer;
    display: none;
    &:hover {
      background-color: $color-white;
      color: $color-black;
      padding-left: 0;
      a {
        color: $color-black;
      }
    }
    &-empty {
      height: calc(100vh - 20rem);
      position: relative;
      border-bottom: none;
    }
  }
}

@media only screen and (max-width: 992px) {
  .single__product {
    div.single__product--checkout {
      border-bottom: none !important;
    }
    &--description {
      min-height: auto;
      padding-left: 0;
      text-align: left;
      margin-bottom: 5%;
      &-title {
        margin-top: 0;
      }
    }
    &--arrows {
      left: 60%;
    }

    &--quantity {
      left: 45%;
    }
    &--add-to-cart {
      padding-right: 20px;
    }
  }
}
@media only screen and (max-width: 435px) {
  .single__product {
    div.single__product--checkout {
      border-bottom: solid 1px white !important;
    }
    &--description {
      border-top: solid 1px white;
      padding-top: 7%;
      margin-bottom: 7%;
      padding-left: 3rem;
      padding-right: 3rem;
    }
    &--arrows {
      left: 50%;
    }
    &--quantity {
      left: 44%;
    }
  }
}
