.single__product {
  display: block;
  padding-top: 6rem;
  padding-bottom: 6rem;
  background-color: $color-black;
  height: auto;
  color: $color-white;
  .col-md-8,
  .col-md-12,
  .col-md-4 {
    border-right: solid 1px $color-white;
    border-bottom: solid 1px $color-white;
  }

  &-no-border {
    border-bottom: none !important;
  }

  &--image {
    max-width: 100%;
    min-height: 72rem;
    padding-top: 6rem;
    padding-bottom: 6rem;
    position: relative;
    backface-visibility: hidden;
    z-index: 0;
    &-image {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -51%);
      width: 44rem;
      height: 59rem;
      z-index: 0;
    }
    &-clone {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -51%);
      width: 44rem;
      height: 59rem;
      backface-visibility: hidden;
      z-index: 20;
    }
  }

  &--cart {
    height: 6rem;
    position: relative;
    border-bottom: none;
  }

  &--description {
    min-height: 17rem;
    padding-left: 0;
    &-title {
      margin-top: 10%;
    }
  }

  &--quantity {
    position: absolute;
    top: 50%;
    left: 25%;
    transform: translate(-50%, -50%);
  }

  &--arrows {
    position: absolute;
    top: 50%;
    left: 85%;
    transform: translate(-50%, -50%);
    &-container {
      height: 6rem;
      margin-bottom: 1.75rem;
      .arrow-up,
      .arrow-down {
        display: block;
        font-size: 2.5rem;
        height: 35%;
        margin-bottom: 0.5rem;
        cursor: pointer;
      }
    }
  }

  &--add-to-cart {
    height: 6rem;
    line-height: 6rem;
    vertical-align: middle;
    text-align: center;
    cursor: pointer;
  }
}

@media only screen and (max-width: 990px) {
  .single__product {
    height: auto;
  }
}

@keyframes imageSlide {
  0% {
    opacity: 1;
  }
  50% {
    left: 124%;
    top: -37%;
    transform: scale(0.1);
  }
  90% {
    left: 124%;
    top: -45%;
    transform: scale(0.1);
  }
  100% {
    left: 124%;
    top: -50%;
    transform: scale(0);
    opacity: 0;
  }
}
