@import "../../abstract/_variables";

.single__product {
  display: block;
  padding-top: 6rem;
  padding-bottom: 6rem;
  background-color: $color-black;
  height: 100vh;
  overflow: hidden;
  color: $color-white;

  // .row:first-child {
  //   border-bottom: solid 1px white;
  // }

  #product-image {
    height: 100vh;
  }

  &-no-border {
    border-bottom: none !important;
  }

  &--image {
    max-width: 100%;
    height: calc(100vh - 12rem);
    padding-top: 6rem;
    padding-bottom: 6rem;
    position: relative;
    backface-visibility: hidden;
    z-index: 1;
    &-image {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -51%);
      width: 48rem;
      height: auto;
      z-index: 0;
    }
    &-clone {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -51%);
      width: 48rem;
      height: auto;
      backface-visibility: hidden;
      z-index: 2;
    }
  }
}

@media only screen and (max-width: 992px) {
  .single__product {
    height: auto;
    &--image {
      min-height: 50rem;
      img {
        width: 30rem;
      }
    }

    &--arrows-container {
      margin-left: 5rem;
    }
  }
}

@media only screen and (max-width: 430px) {
  .single__product {
    padding-bottom: 20rem;

  &--description-description {
    line-height: 1;
  }

    #product-image {
      height: unset;
    }
    .row:first-of-type {
      border-bottom: none;
    }
  }
}

@keyframes imageSlide {
  0% {
    opacity: 1;
    z-index: 2;
  }
  50% {
    left: 120%;
    top: -40%;
    transform: scale(0.1);
    z-index: 2;
  }
  90% {
    left: 120%;
    top: -45%;
    transform: scale(0);
    opacity: 0.8;
    z-index: 2;
  }
  100% {
    left: 120%;
    top: -50%;
    transform: scale(0);
    opacity: 0;
  }
}
