@import "../../abstract/_variables";

.single__product {
  display: block;
  padding-top: 6rem;
  padding-bottom: 6rem;
  background-color: $color-black;
  height: 100vh;
  overflow: hidden;
  color: $color-white;

  // .row:first-child {
  //   border-bottom: solid 1px white;
  // }

  #product-image {
    height: 100vh;
  }

  &-no-border {
    border-bottom: none !important;
  }

  &--image {
    max-width: 100%;
    height: calc(100vh - 12rem);
    padding-top: 6rem;
    padding-bottom: 6rem;
    position: relative;
    backface-visibility: hidden;
    z-index: 1;
    &-image {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -51%);
      width: auto;
      height: 90%;
      z-index: 0;
    }
    &-clone {
      position: fixed;
      top: 15rem;
      right: 60.6667%;
      width: auto;
      height: 200px;
      opacity: 0;
      backface-visibility: hidden;
      z-index: 2;
    }
  }
}

@media only screen and (max-width: 992px) {
  .single__product {
    height: auto;
    &--image {
      min-height: 50rem;
      img {
        width: 30rem;
        height: auto;
      }
    }

    &--arrows-container {
      margin-left: 5rem;
    }
  }
}

@media only screen and (max-width: 430px) {
  .single__product {
    padding-bottom: 20rem;

    &--description-description {
      line-height: 1;
    }

    #product-image {
      height: unset;
    }
    .row:first-of-type {
      border-bottom: none;
    }
  }
}

@media only screen and (min-height: 1300px) {
  .single__product {
    &--image {
      &-image {
        max-height: 1000px;
        top: 540px;
        width: auto;
      }
      &-clone {
        max-height: 1000px;
        top: 540px;
        width: auto;
      }
    }
  }
}

@keyframes imageSlide {
  0% {
    opacity: .5;
    z-index: 2;
    top: 15rem;
  }
  70% {
    right: 2rem;
    opacity: 1;
    top: 7rem;
    z-index: 2;
    transform: scale(.3);
  }
  100% {
    right: 2rem;
    top: -10rem;
    opacity: 0;
    transform: scale(.1);
  }
}
