/* set the root font-size. the default browswer font-size is 16px, but we want it to be 10px so that's why we are setting it to 62.5%...this makes it easy to use rems because if the base is 10px, a rem is just pixels/10. */
html {
  font-size: 62.5%;
  box-sizing: border-box;
  overflow-x: hidden;
  margin: 0;
  padding: 0; }

body {
  max-width: 100%;
  overflow-x: hidden; }

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

@font-face {
  font-family: "SF UI";
  src: url("/css/fonts/SF-Pro-Text-Regular.otf");
  src: url("/css/fonts/SF-Pro-Text-Regular.otf") format("opentype"); }

body {
  font-family: "SF UI";
  font-weight: 400;
  font-size: 2.4rem;
  line-height: 1.7;
  letter-spacing: -1px; }

a,
a:visited,
a:active,
a:hover {
  color: white;
  text-decoration: none; }

@media only screen and (max-width: 768px) {
  body {
    font-size: 1.6rem;
    letter-spacing: 0; }
  header {
    letter-spacing: -1px; } }

.no-paddings {
  padding-left: 0;
  padding-right: 0; }

.no-border-bottom {
  border-bottom: none !important; }

.no-border-top {
  border-top: none; }

.border-right {
  border-right: solid 1px white; }

.border-left {
  border-left: solid 1px white; }

.border-top {
  border-top: solid 1px white; }

.border-bottom {
  border-bottom: solid 1px white; }

.fa-check {
  font-size: 16px; }

.fa-arrow-right {
  font-size: 18px; }

.header-arrow {
  height: 31px;
  padding-bottom: 5px; }

.StripeElement {
  background-color: white;
  height: 40px;
  padding: 10px 12px;
  border-radius: 4px;
  border: 1px solid transparent;
  box-shadow: 0 1px 3px 0 #e6ebf1;
  -webkit-transition: box-shadow 150ms ease;
  transition: box-shadow 150ms ease; }
  .StripeElement--focus {
    box-shadow: 0 1px 3px 0 #cfd7df; }
  .StripeElement--invalid {
    border-color: #fa755a; }
  .StripeElement--webkit-autofill {
    background-color: #fefde5 !important; }

.admin-page {
  padding-bottom: 100px; }
  .admin-page--new-product {
    display: block;
    width: 100%;
    height: 200px;
    padding-top: 50px; }
  .admin-page img {
    width: 200px;
    height: 200px; }
  .admin-page textarea {
    columns: 20;
    height: 100px; }
  .admin-page .current-product-fields input {
    margin-right: 10px; }
  .admin-page .current-product-fields .current-product {
    padding-top: 5%; }
    .admin-page .current-product-fields .current-product:nth-child(odd) {
      background-color: #e2e2e2;
      display: block; }
    .admin-page .current-product-fields .current-product input, .admin-page .current-product-fields .current-product button {
      margin-bottom: 3rem;
      line-height: normal; }

.header {
  height: 6rem;
  background-color: black;
  position: fixed;
  width: 100%;
  border-bottom: 1px solid white;
  z-index: 2; }
  .header .col-lg-4:nth-child(2) {
    text-align: center; }
  .header .col-lg-4:nth-child(3) {
    text-align: right; }
  .header__block {
    text-transform: uppercase;
    color: white;
    line-height: 6rem;
    height: 100%;
    display: inline-block; }
    .header__block--shop {
      vertical-align: middle;
      padding-left: 2rem; }
    .header__block--title {
      vertical-align: middle; }
    .header__block--cart {
      vertical-align: middle;
      padding-right: 2rem;
      white-space: nowrap; }

@media only screen and (max-width: 468px) {
  .header .col-lg-4:nth-child(2) {
    padding-right: 0;
    padding-left: 0; } }

.footer {
  height: 6rem;
  background-color: black;
  position: fixed;
  bottom: 0;
  width: 100%;
  border-top: 1px solid white;
  z-index: 3; }
  .footer__block {
    text-transform: uppercase;
    color: white;
    line-height: 6rem;
    height: 100%; }
    .footer__block--work {
      vertical-align: middle;
      float: left;
      padding-left: 2rem; }
    .footer__block--info {
      vertical-align: middle;
      float: right;
      padding-right: 2rem; }

.products {
  display: block;
  padding-top: 6rem;
  background-color: black; }
  .products .col-md-4 {
    border-right: solid 1px white;
    border-bottom: solid 1px white; }
  .products-no-border {
    border-bottom: none !important; }
  .products__container {
    display: block;
    text-align: center; }
    .products__container--product {
      max-width: 100%;
      overflow: hidden;
      height: 46rem; }
    .products__container--image {
      position: relative;
      height: 46rem;
      width: 100%; }
      .products__container--image img {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 30rem;
        height: auto;
        cursor: pointer; }
    .products__container--message {
      color: white;
      text-align: left;
      padding-top: 2rem;
      width: 40rem;
      padding-left: 8rem; }
    .products__container--overlay {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 30rem;
      height: 40rem;
      opacity: 0;
      color: white;
      background-color: rgba(0, 0, 0, 0.75);
      transition: all 0.3s ease-in-out;
      z-index: 0;
      pointer-events: none; }
      .products__container--overlay-body {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 100%; }

.body__footer {
  height: 16rem;
  line-height: 10rem;
  vertical-align: middle;
  background-color: black;
  color: white;
  padding-bottom: 6rem;
  text-align: center; }
  .body__footer--message {
    text-decoration: underline; }

.single__product--cart {
  height: 6rem;
  position: relative;
  border-bottom: none; }

.single__product--description {
  min-height: 17rem;
  padding-left: 0;
  padding-right: 2rem; }
  .single__product--description-title {
    margin-top: 6%; }

.single__product--quantity {
  position: absolute;
  top: 50%;
  left: 32%;
  transform: translate(-50%, -50%); }

.single__product--arrows {
  position: absolute;
  top: 55%;
  left: 85%;
  transform: translate(-50%, -50%); }
  .single__product--arrows-container {
    height: 6rem;
    margin-left: -1rem; }
    .single__product--arrows-container .arrow-up,
    .single__product--arrows-container .arrow-down {
      display: block;
      font-size: 2.5rem;
      height: 30%;
      margin-bottom: 0.5rem;
      cursor: pointer;
      transform: scale(0.3); }

.single__product--add-to-cart {
  height: 6rem;
  line-height: 6rem;
  vertical-align: middle;
  text-align: center;
  cursor: pointer; }
  .single__product--add-to-cart:hover {
    background-color: white;
    color: black;
    padding-left: 0; }

.single__product--empty {
  height: 6rem;
  line-height: 6rem;
  vertical-align: middle;
  text-align: center;
  cursor: pointer;
  display: none; }
  .single__product--empty:hover {
    background-color: white;
    color: black;
    padding-left: 0; }
    .single__product--empty:hover a {
      color: black; }

.single__product--checkout {
  height: 6rem;
  line-height: 6rem;
  vertical-align: middle;
  text-align: center;
  cursor: pointer;
  display: none; }
  .single__product--checkout:hover {
    background-color: white;
    color: black;
    padding-left: 0; }
    .single__product--checkout:hover a {
      color: black; }
  .single__product--checkout-empty {
    height: calc(100vh - 20rem);
    position: relative;
    border-bottom: none; }

@media only screen and (max-width: 992px) {
  .single__product div.single__product--checkout {
    border-bottom: none !important; }
  .single__product--description {
    min-height: auto;
    padding-left: 0;
    text-align: left;
    margin-bottom: 5%; }
    .single__product--description-title {
      margin-top: 0; }
  .single__product--arrows {
    left: 60%; }
  .single__product--quantity {
    left: 45%; }
  .single__product--add-to-cart {
    padding-right: 20px; } }

@media only screen and (max-width: 435px) {
  .single__product div.single__product--checkout {
    border-bottom: solid 1px white !important; }
  .single__product--description {
    border-top: solid 1px white;
    padding-top: 7%;
    margin-bottom: 7%;
    padding-left: 3rem;
    padding-right: 3rem; }
  .single__product--arrows {
    left: 50%; }
  .single__product--quantity {
    left: 44%; } }

.single__product {
  display: block;
  padding-top: 6rem;
  padding-bottom: 6rem;
  background-color: black;
  height: 100vh;
  overflow: hidden;
  color: white; }
  .single__product #product-image {
    height: 100vh; }
  .single__product-no-border {
    border-bottom: none !important; }
  .single__product--image {
    max-width: 100%;
    height: calc(100vh - 12rem);
    padding-top: 6rem;
    padding-bottom: 6rem;
    position: relative;
    backface-visibility: hidden;
    z-index: 1; }
    .single__product--image-image {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -51%);
      width: 48rem;
      height: auto;
      z-index: 0; }
    .single__product--image-clone {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -51%);
      width: 48rem;
      height: auto;
      backface-visibility: hidden;
      z-index: 2; }

@media only screen and (max-width: 992px) {
  .single__product {
    height: auto; }
    .single__product--image {
      min-height: 50rem; }
      .single__product--image img {
        width: 30rem; }
    .single__product--arrows-container {
      margin-left: 5rem; } }

@media only screen and (max-width: 430px) {
  .single__product {
    padding-bottom: 20rem; }
    .single__product--description-description {
      line-height: 1; }
    .single__product #product-image {
      height: unset; }
    .single__product .row:first-of-type {
      border-bottom: none; } }

@keyframes imageSlide {
  0% {
    opacity: 1;
    z-index: 2; }
  50% {
    left: 120%;
    top: -40%;
    transform: scale(0.1);
    z-index: 2; }
  90% {
    left: 120%;
    top: -45%;
    transform: scale(0);
    opacity: 0.8;
    z-index: 2; }
  100% {
    left: 120%;
    top: -50%;
    transform: scale(0);
    opacity: 0; } }

.cart {
  display: block;
  padding-top: 6rem;
  padding-bottom: 6rem;
  background-color: black;
  height: 100vh;
  min-height: 77rem;
  color: white;
  overflow: hidden; }
  .cart__item {
    height: 22rem; }
    .cart__item:first-child {
      border-top: none !important; }
  .cart-no-border {
    border-bottom: none !important; }
  .cart__image-container {
    position: relative;
    height: 22rem;
    width: 100%; }
    .cart__image-container-image {
      width: 12rem;
      height: auto;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%); }
  .cart__description--container {
    position: relative;
    height: 22rem;
    width: 100%; }
    .cart__description--container-body {
      position: absolute;
      top: 3rem; }
  .cart__quantity {
    position: absolute;
    top: 3rem;
    text-align: center;
    padding-left: 4rem; }
    .cart__quantity-container {
      position: relative;
      height: 22rem;
      width: 100%; }
  .cart .single__product--arrows {
    position: absolute;
    top: 5.5rem; }
  .cart__price {
    height: 22rem;
    padding-top: 3rem;
    text-align: center; }
  .cart__trash {
    height: 22rem;
    padding-top: 3rem;
    text-align: center; }
    .cart__trash img {
      width: 2.4rem;
      margin-right: 5%;
      cursor: pointer; }
  .cart__total--empty {
    height: 6rem;
    width: 100%; }
  .cart__total .row > div > div {
    height: 6rem; }
  .cart__total--price {
    line-height: 6rem;
    vertical-align: middle;
    text-align: center; }
  .cart__total--total {
    line-height: 6rem;
    vertical-align: middle;
    text-align: center; }
  .cart__total--checkout {
    line-height: 6rem;
    vertical-align: middle;
    text-align: center; }
    .cart__total--checkout:hover {
      background-color: white;
      color: black;
      padding-left: 0; }
      .cart__total--checkout:hover a {
        color: black; }
  .cart__total-final--empty {
    height: 30rem;
    width: 100%; }
  .cart__total-final .row > div > div {
    height: 37rem; }

.nothing-in-cart {
  display: none;
  position: relative;
  width: 100%;
  height: 100vh;
  background-color: black;
  color: white;
  text-align: center; }
  .nothing-in-cart-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); }
  .nothing-in-cart a {
    text-decoration: underline; }

.header__no-show {
  height: 6rem;
  background-color: black;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1; }

.remove__item-dropdown-text {
  padding-top: 1rem; }

@keyframes dropdown {
  0% {
    display: none;
    width: 100%;
    height: 6rem;
    top: 0vh;
    background-color: black;
    text-align: center;
    color: white;
    border-bottom: 1px solid white; }
  50% {
    width: 100%;
    height: 6rem;
    background-color: black;
    text-align: center;
    color: white;
    top: 6rem;
    border-bottom: 1px solid white; }
  100% {
    display: none;
    width: 100%;
    height: 6rem;
    background-color: black;
    text-align: center;
    color: white;
    top: 0vh;
    border-bottom: 1px solid white; } }

@media only screen and (max-width: 1199px) {
  .cart__total--total {
    border-left: none !important; }
  .cart__total--price {
    border-left: none !important; }
  .cart__total--checkout {
    border-left: none !important; } }

@media only screen and (max-width: 768px) {
  .cart .height-0 {
    height: 0;
    display: none; }
  .cart .cart__image-container {
    border-right: none !important; }
  .cart__quantity {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-90%, -50%);
    text-align: center;
    padding-left: 3.5rem;
    width: 10rem; }
    .cart__quantity-container {
      position: relative;
      height: 8rem;
      width: 100%;
      border-left: none !important; }
  .cart__description--container {
    padding-left: 3.5rem;
    padding-right: 3.5rem;
    border-bottom: solid 1px white; }
    .cart__description--container-body {
      position: absolute;
      top: 3rem; }
  .cart .border-bottom-mobile {
    border-bottom: solid 1px white; }
  .cart div.cart__item:not(:first-child) .cart__image-container {
    border-bottom: solid 1px white;
    border-top: solid 1px white; }
  .cart div.cart__item .row div:nth-child(3) {
    border-right: solid 1px white; }
  .cart div.cart__item .row div:nth-child(4) > div:first-child {
    border-left: none;
    border-right: none; }
  .cart div.cart__item .row div:nth-child(5) {
    border-left: solid 1px white; }
  .cart div.cart__total .row div:nth-child(3) {
    border-right: solid 1px white; }
  .cart div.cart__item:last-child .row div:nth-child(3),
  .cart div.cart__item:last-child .row div:nth-child(4),
  .cart div.cart__item:last-child .row div:nth-child(5) {
    border-bottom: solid 1px white; }
  .cart .single__product--arrows {
    position: absolute;
    top: 4.5rem; }
    .cart .single__product--arrows-container {
      margin-left: 0rem; }
  .cart__total--total {
    border-left: none !important; }
  .cart__trash {
    text-align: center;
    height: 8rem; }
  .cart__price {
    height: 8rem; } }

@media only screen and (max-width: 415px) {
  .cart .single__product--arrows-container {
    margin-left: 5rem; }
  .cart__price, .cart__trash {
    padding-top: 2.5rem; }
  .cart__trash img {
    margin-bottom: 5px;
    margin-right: 15%; }
  .cart__total {
    border-top: none; }
    .cart__total--checkout {
      border-bottom: solid 1px white; }
  .cart__item:last-child {
    border-top: none; }
  .cart__item:nth-last-child(2) {
    border-top: none; }
  .cart__item:first-child .row .col-xs-12:nth-child(2) {
    border-top: solid 1px white; }
  .cart__description--container {
    height: 14rem; } }

.info__container {
  height: 100vh;
  overflow: hidden;
  background-image: url(../uploads/bg.png);
  background-size: cover; }
  .info__container .footer {
    background-color: #ff0707;
    border-top: 1px solid black !important; }
    .info__container .footer__block {
      color: black; }
      .info__container .footer__block--info {
        color: black !important; }
        .info__container .footer__block--info a {
          color: inherit; }

.info__header {
  line-height: 6rem;
  height: 6rem;
  border-bottom: 1px solid black;
  color: black;
  position: fixed;
  width: 100%;
  background-color: #ff511a;
  z-index: 100; }
  .info__header a {
    color: black !important; }
  .info__header .col-lg-4 {
    vertical-align: middle;
    text-transform: uppercase; }
    .info__header .col-lg-4:nth-child(2) {
      text-align: center; }
    .info__header .col-lg-4:nth-child(3) {
      text-align: right; }

.info__body {
  padding-left: 2rem;
  color: black !important;
  padding-top: 6rem; }
  .info__body .border-right {
    border-right: solid 1px black !important; }
  .info__body .info__bio--container {
    height: 100vh; }
  .info__body .info__bio--first {
    padding-top: 2rem;
    margin-bottom: 15px;
    line-height: 1.4; }
  .info__body .info__bio--second {
    padding-top: 2rem;
    margin-bottom: 15px;
    line-height: 1.4; }
    .info__body .info__bio--second a {
      color: black;
      text-decoration: underline; }

.info__list--container {
  height: 100vh; }
  .info__list--container ul {
    padding-top: 2rem;
    list-style: none;
    line-height: 1.4; }

.info__contact--container {
  padding-top: 2rem;
  margin-bottom: 0;
  height: 100vh; }
  .info__contact--container p {
    margin-bottom: -1rem; }
    .info__contact--container p:nth-child(2) {
      margin-bottom: 2rem; }

.info__social--container-main a {
  color: black;
  text-decoration: underline; }

.info__email--container-main a {
  color: black;
  text-decoration: underline; }

@media only screen and (max-width: 1024px) {
  .info__container .info__body .info__bio--container {
    height: unset; }
  .info__list--container {
    height: unset; }
  .info__contact--container {
    height: unset; } }

@media only screen and (max-width: 430px) {
  .info__container .info__body {
    margin-right: 2rem; }
    .info__container .info__body * {
      border-right: none !important; }
  .info__container {
    height: 105vh;
    max-height: 105vh;
    overflow: hidden;
    width: 100%; } }

#spinner {
  width: 50px;
  height: 50px;
  opacity: 0; }

.section__checkout {
  padding-top: 8rem;
  padding-left: 2rem;
  background-color: black;
  color: white;
  padding-bottom: 4rem; }
  .section__checkout--shipping-container-header {
    margin-bottom: 1rem; }
  .section__checkout .country-dropdown {
    background-color: #fff;
    color: black;
    height: 210px;
    overflow: scroll;
    padding: 5px;
    margin-top: -2rem;
    position: absolute;
    width: 94%;
    z-index: 3; }
    .section__checkout .country-dropdown div {
      cursor: pointer; }
      .section__checkout .country-dropdown div:hover {
        background-color: #d4d3d3; }
  .section__checkout input {
    width: 100%;
    background-color: black;
    border: none;
    outline: solid 1px white;
    margin-bottom: 2rem;
    padding-left: 1rem;
    height: 4rem; }
  .section__checkout label {
    display: block;
    color: white;
    font-weight: unset; }

.section__payment {
  border-top: solid 1px white;
  padding-top: 4rem;
  background-color: black;
  color: white;
  height: 60rem; }
  .section__payment--title {
    padding-left: 2rem;
    margin-bottom: 1rem; }
  .section__payment--button:hover {
    background-color: white;
    color: black; }
  .section__payment .form-row {
    padding-left: 2rem; }
  .section__payment label {
    display: block;
    color: white;
    font-weight: unset; }
  .section__payment .row > div > div {
    text-align: center;
    height: 6rem;
    line-height: 6rem; }
  .section__payment .row:nth-child(2) > div {
    border-top: solid 1px white;
    border-right: solid 1px white; }
  .section__payment .row:nth-child(3) > div {
    border-top: solid 1px white; }
  .section__payment .row:last-child > div {
    border-bottom: solid 1px white;
    border-top: solid 1px white; }
  .section__payment form .StripeElement {
    border-radius: 0;
    box-shadow: none;
    background-color: black;
    outline: solid 1px white;
    height: 40px;
    width: 66.66%;
    margin-bottom: 4rem; }
  .section__payment button {
    color: inherit;
    background-color: inherit;
    border: none;
    margin-right: 50px; }

@media (max-width: 768px) {
  .section__checkout {
    padding-right: 2rem; }
  .section__payment form .StripeElement {
    width: 95%; } }
