*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

/* set the root font-size. the default browswer font-size is 16px, but we want it to be 10px so that's why we are setting it to 62.5%...this makes it easy to use rems because if the base is 10px, a rem is just pixels/10. */
html {
  font-size: 62.5%; }

body {
  box-sizing: border-box;
  max-width: 100%;
  overflow-x: hidden; }

@font-face {
  font-family: "SF UI";
  src: url("/css/fonts/SF-Pro-Text-Regular.otf");
  src: url("/css/fonts/SF-Pro-Text-Regular.otf") format("opentype"); }

body {
  font-family: "SF UI";
  font-weight: 400;
  font-size: 2.4rem;
  line-height: 1.7;
  letter-spacing: -1px; }

a,
a:visited,
a:active,
a:hover {
  color: white;
  text-decoration: none; }

@media only screen and (max-width: 768px) {
  body {
    font-size: 1.6rem; } }

.no-paddings {
  padding-left: 0;
  padding-right: 0; }

.no-border-bottom {
  border-bottom: none !important; }

.no-border-top {
  border-top: none; }

.border-right {
  border-right: solid 1px white; }

.border-left {
  border-left: solid 1px white; }

.border-top {
  border-top: solid 1px white; }

.border-bottom {
  border-bottom: solid 1px white; }

.fa-check {
  font-size: 16px; }

.fa-arrow-right {
  font-size: 18px; }

.StripeElement {
  background-color: white;
  height: 40px;
  padding: 10px 12px;
  border-radius: 4px;
  border: 1px solid transparent;
  box-shadow: 0 1px 3px 0 #e6ebf1;
  -webkit-transition: box-shadow 150ms ease;
  transition: box-shadow 150ms ease; }
  .StripeElement--focus {
    box-shadow: 0 1px 3px 0 #cfd7df; }
  .StripeElement--invalid {
    border-color: #fa755a; }
  .StripeElement--webkit-autofill {
    background-color: #fefde5 !important; }

.admin-page {
  padding-bottom: 100px; }
  .admin-page--new-product {
    display: block;
    width: 100%;
    height: 200px;
    padding-top: 50px; }
  .admin-page img {
    width: 200px;
    height: 200px; }
  .admin-page textarea {
    columns: 20;
    height: 100px; }
  .admin-page .current-product-fields input {
    margin-right: 10px; }
  .admin-page .current-product-fields .current-product {
    padding-top: 5%; }
    .admin-page .current-product-fields .current-product:nth-child(odd) {
      background-color: #e2e2e2;
      display: block; }
    .admin-page .current-product-fields .current-product input, .admin-page .current-product-fields .current-product button {
      margin-bottom: 3rem;
      line-height: normal; }

.header {
  height: 6rem;
  background-color: black;
  position: fixed;
  width: 100%;
  border-bottom: 1px solid white;
  z-index: 2; }
  .header .col-lg-4:nth-child(2) {
    text-align: center; }
  .header .col-lg-4:nth-child(3) {
    text-align: right; }
  .header__block {
    text-transform: uppercase;
    color: white;
    line-height: 6rem;
    height: 100%;
    display: inline-block; }
    .header__block--shop {
      vertical-align: middle;
      padding-left: 2rem; }
    .header__block--title {
      vertical-align: middle; }
    .header__block--cart {
      vertical-align: middle;
      padding-right: 2rem; }

.footer {
  height: 6rem;
  background-color: black;
  position: fixed;
  bottom: 0;
  width: 100%;
  border-top: 1px solid white;
  z-index: 3; }
  .footer__block {
    text-transform: uppercase;
    color: white;
    line-height: 6rem;
    height: 100%; }
    .footer__block--work {
      vertical-align: middle;
      float: left;
      padding-left: 2rem; }
    .footer__block--info {
      vertical-align: middle;
      float: right;
      padding-right: 2rem; }

.products {
  display: block;
  padding-top: 6rem;
  background-color: black; }
  .products .col-md-4 {
    border-right: solid 1px white;
    border-bottom: solid 1px white; }
  .products-no-border {
    border-bottom: none !important; }
  .products__container {
    display: block;
    text-align: center; }
    .products__container--product {
      max-width: 100%;
      overflow: hidden;
      height: 46rem; }
    .products__container--image {
      position: relative;
      height: 46rem;
      width: 100%; }
      .products__container--image img {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 30rem;
        height: auto;
        cursor: pointer; }
    .products__container--message {
      color: white;
      text-align: left;
      padding-top: 2rem;
      width: 40rem;
      padding-left: 8rem; }
    .products__container--overlay {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 30rem;
      height: 40rem;
      opacity: 0;
      color: white;
      background-color: rgba(0, 0, 0, 0.75);
      transition: all 0.3s ease-in-out;
      z-index: 0;
      pointer-events: none; }
      .products__container--overlay-body {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 100%; }

.body__footer {
  height: 16rem;
  line-height: 10rem;
  vertical-align: middle;
  background-color: black;
  color: white;
  padding-bottom: 6rem;
  text-align: center; }
  .body__footer--message {
    text-decoration: underline; }

.single__product--cart {
  height: 6rem;
  position: relative;
  border-bottom: none; }

.single__product--description {
  min-height: 17rem;
  padding-left: 0; }
  .single__product--description-title {
    margin-top: 6%; }

.single__product--quantity {
  position: absolute;
  top: 50%;
  left: 32%;
  transform: translate(-50%, -50%); }

.single__product--arrows {
  position: absolute;
  top: 55%;
  left: 85%;
  transform: translate(-50%, -50%); }
  .single__product--arrows-container {
    height: 6rem;
    margin-left: -1rem; }
    .single__product--arrows-container .arrow-up,
    .single__product--arrows-container .arrow-down {
      display: block;
      font-size: 2.5rem;
      height: 30%;
      margin-bottom: 0.5rem;
      cursor: pointer;
      transform: scale(0.3); }

.single__product--add-to-cart {
  height: 6rem;
  line-height: 6rem;
  vertical-align: middle;
  text-align: center;
  cursor: pointer; }
  .single__product--add-to-cart:hover {
    background-color: white;
    color: black;
    padding-left: 0; }

.single__product--empty {
  height: 6rem;
  line-height: 6rem;
  vertical-align: middle;
  text-align: center;
  cursor: pointer;
  display: none; }
  .single__product--empty:hover {
    background-color: white;
    color: black;
    padding-left: 0; }
    .single__product--empty:hover a {
      color: black; }

.single__product--checkout {
  height: 6rem;
  line-height: 6rem;
  vertical-align: middle;
  text-align: center;
  cursor: pointer;
  display: none; }
  .single__product--checkout:hover {
    background-color: white;
    color: black;
    padding-left: 0; }
    .single__product--checkout:hover a {
      color: black; }
  .single__product--checkout-empty {
    height: 40rem;
    position: relative;
    border-bottom: none; }

@media only screen and (max-width: 992px) {
  .single__product div.single__product--checkout {
    border-bottom: none !important; }
  .single__product--description {
    min-height: auto;
    padding-left: 0;
    text-align: center;
    margin-bottom: 5%; }
    .single__product--description-title {
      margin-top: 0; } }

.single__product {
  display: block;
  padding-top: 6rem;
  padding-bottom: 6rem;
  background-color: black;
  height: 77rem;
  color: white; }
  .single__product-no-border {
    border-bottom: none !important; }
  .single__product--image {
    max-width: 100%;
    min-height: 71rem;
    padding-top: 6rem;
    padding-bottom: 6rem;
    position: relative;
    backface-visibility: hidden;
    z-index: 1; }
    .single__product--image-image {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -51%);
      width: 48rem;
      height: auto;
      z-index: 0; }
    .single__product--image-clone {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -51%);
      width: 48rem;
      height: auto;
      backface-visibility: hidden;
      z-index: 2; }

@media only screen and (max-width: 992px) {
  .single__product {
    height: auto; }
    .single__product--image {
      min-height: 50rem; }
      .single__product--image img {
        width: 30rem; } }

@keyframes imageSlide {
  0% {
    opacity: 1;
    z-index: 2; }
  50% {
    left: 119%;
    top: -40%;
    transform: scale(0.1);
    z-index: 2; }
  90% {
    left: 119%;
    top: -45%;
    transform: scale(0);
    opacity: 0.8;
    z-index: 2; }
  100% {
    left: 119%;
    top: -50%;
    transform: scale(0);
    opacity: 0; } }

.cart {
  display: block;
  padding-top: 6rem;
  padding-bottom: 6rem;
  background-color: black;
  min-height: 77rem;
  color: white; }
  .cart__item {
    height: 22rem; }
    .cart__item:first-child {
      border-top: none !important; }
  .cart-no-border {
    border-bottom: none !important; }
  .cart__image-container {
    position: relative;
    height: 22rem;
    width: 100%; }
    .cart__image-container-image {
      width: 12rem;
      height: auto;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%); }
  .cart__description--container {
    position: relative;
    height: 22rem;
    width: 100%; }
    .cart__description--container-body {
      position: absolute;
      top: 3rem; }
  .cart__description--title {
    text-transform: uppercase; }
  .cart__quantity {
    position: absolute;
    top: 3rem;
    text-align: center;
    padding-left: 4rem; }
    .cart__quantity-container {
      position: relative;
      height: 22rem;
      width: 100%; }
  .cart .single__product--arrows {
    position: absolute;
    top: 5.5rem; }
  .cart__price {
    height: 22rem;
    padding-top: 3rem;
    text-align: center; }
  .cart__trash {
    height: 22rem;
    padding-top: 3rem;
    text-align: center; }
    .cart__trash img {
      width: 2.4rem;
      margin-right: 5%;
      cursor: pointer; }
  .cart__total--empty {
    height: 6rem;
    width: 100%; }
  .cart__total .row > div > div {
    height: 6rem; }
  .cart__total--price {
    line-height: 6rem;
    vertical-align: middle;
    text-align: center; }
  .cart__total--total {
    line-height: 6rem;
    vertical-align: middle;
    text-align: center; }
  .cart__total--checkout {
    line-height: 6rem;
    vertical-align: middle;
    text-align: center; }
    .cart__total--checkout:hover {
      background-color: white;
      color: black;
      padding-left: 0; }
      .cart__total--checkout:hover a {
        color: black; }
  .cart__total-final--empty {
    height: 30rem;
    width: 100%; }
  .cart__total-final .row > div > div {
    height: 37rem; }

.nothing-in-cart {
  display: none;
  position: relative;
  width: 100%;
  height: 80rem;
  background-color: black;
  color: white; }
  .nothing-in-cart-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); }

.header__no-show {
  height: 6rem;
  background-color: black;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1; }

.remove__item-dropdown-text {
  padding-top: 1rem; }

@keyframes dropdown {
  0% {
    display: none;
    width: 100%;
    height: 6rem;
    top: 0vh;
    background-color: black;
    text-align: center;
    color: white;
    border-bottom: 1px solid white; }
  50% {
    width: 100%;
    height: 6rem;
    background-color: black;
    text-align: center;
    color: white;
    top: 6rem;
    border-bottom: 1px solid white; }
  100% {
    display: none;
    width: 100%;
    height: 6rem;
    background-color: black;
    text-align: center;
    color: white;
    top: 0vh;
    border-bottom: 1px solid white; } }

@media only screen and (max-width: 1199px) {
  .cart__total--total {
    border-left: none !important; }
  .cart__total--price {
    border-left: none !important; }
  .cart__total--checkout {
    border-left: none !important; } }

@media only screen and (max-width: 768px) {
  .cart .cart__image-container {
    border-right: none !important; }
  .cart__quantity {
    position: absolute;
    top: 3rem;
    text-align: center;
    padding-left: 3.5rem; }
    .cart__quantity-container {
      position: relative;
      height: 10rem;
      width: 100%;
      border-left: none !important; }
  .cart__description--container {
    padding-left: 3.5rem;
    border-bottom: solid 1px white; }
    .cart__description--container-body {
      position: absolute;
      top: 3rem; }
  .cart .single__product--arrows {
    position: absolute;
    top: 4.5rem; }
    .cart .single__product--arrows-container {
      margin-left: 0rem; }
  .cart__total--total {
    border-left: none !important; }
  .cart__trash {
    text-align: left; }
  .cart__price {
    height: 10rem; } }
