@import "../../abstract/_variables";

.header {
  height: 6rem;
  background-color: $color-black;
  position: fixed;
  width: 100%;
  border-bottom: 1px solid $color-white;
  z-index: 2;
  .col-lg-4:nth-child(2) {
    text-align: center;
  }
  .col-lg-4:nth-child(3) {
    text-align: right;
  }
  &__block {
    text-transform: uppercase;
    color: $color-white;
    line-height: 6rem;
    height: 100%;
    display: inline-block;
    &--shop {
      vertical-align: middle;
      padding-left: 2rem;
    }
    &--title {
      vertical-align: middle;
    }
    &--cart {
      vertical-align: middle;
      padding-right: 2rem;
    }
  }
}
