.info {
  &__container {
    height: 100vh;
    overflow: hidden;
    background-image: url(../uploads/bg.png);
    background-size: cover;

    .footer {
      background-color: #ff0707;
      border-top: 1px solid black !important;
      &__block {
        color: black;

        &--info {
          color: black !important;

          a {
            color: inherit;
          }
        }
      }
    }
  }

  &__header {
    line-height: 6rem;
    height: 6rem;
    border-bottom: 1px solid $color-black;
    color: black;
    position: fixed;
    width: 100%;
    background-color: #ff511a;
    z-index: 100;

    a {
      color: black !important;
    }
    .col-lg-4 {
      vertical-align: middle;
      text-transform: uppercase;
      &:nth-child(2) {
        text-align: center;
      }
      &:nth-child(3) {
        text-align: right;
      }
    }
  }

  &__body {
    padding-left: 2rem;
    color: black !important;
    padding-top: 6rem;

    .border-right {
      border-right: solid 1px black !important;
    }

    .info__bio {
      &--container {
        height: 100vh;
      }
      &--first {
        padding-top: 2rem;
        margin-bottom: 15px;
        line-height: 1.4;
      }
      &--second {
        padding-top: 2rem;
        margin-bottom: 15px;
        line-height: 1.4;

        a {
          color: black;
          text-decoration: underline;
        }
      }
    }
  }

  &__list--container {
    height: 100vh;

    ul {
      padding-top: 2rem;
      list-style: none;
      line-height: 1.4;
    }
  }

  &__contact--container {
    padding-top: 2rem;
    margin-bottom: 0;
    height: 100vh;

    p {
      margin-bottom: -1rem;

      &:nth-child(2) {
        margin-bottom: 2rem;
      }
    }
  }

  &__social--container-main {
    a {
      color: black;
      text-decoration: underline;
    }
  }
  &__email--container-main {
    a {
      color: black;
      text-decoration: underline;
    }
  }
}

@media only screen and (max-width: 1024px) {
  .info__container .info__body {
    .info__bio {
      &--container {
        height: unset;
      }
    }
  }

  .info__list--container {
    height: unset;
  }
  .info__contact--container {
    height: unset;
  }
}

@media only screen and (max-width: 430px) {
  .info__container .info__body {
    margin-right: 2rem;

    * {
      border-right: none !important;
    }
  }

  .info__container {
    height: 105vh;
    max-height: 105vh;
    overflow: hidden;
    width: 100%;
  }
}
