#spinner {
  width: 50px;
  height: 50px;
  opacity: 0;
}

#copyright {
  font-size: 12px;
  line-height: 24px;
  vertical-align: top;
  margin-left: -5px;
}

.section {
  &__checkout {
    padding-top: 8rem;
    padding-left: 2rem;
    background-color: black;
    color: white;
    padding-bottom: 4rem;

    &--shipping-container-header {
      margin-bottom: 1rem;
    }

    .country-dropdown {
      background-color: #fff;
      color: black;
      height: 210px;
      overflow: scroll;
      padding: 5px;
      margin-top: -2rem;
      position: absolute;
      width: 94%;
      z-index: 3;
      div {
        cursor: pointer;

        &:hover {
          background-color: rgb(212, 211, 211);
        }
      }
    }

    input {
      width: 100%;
      background-color: black;
      border: none;
      outline: solid 1px white;
      margin-bottom: 2rem;
      padding-left: 1rem;
      height: 4rem;
    }

    label {
      display: block;
      color: white;
      font-weight: unset;
    }
  }

  &__payment {
    border-top: solid 1px white;
    padding-top: 4rem;
    background-color: black;
    color: white;
    min-height: 550px;

    &--title {
      padding-left: 2rem;
      margin-bottom: 1rem;
    }

    &--button {
      &:hover {
        background-color: white;
        color: black;
      }
    }

    .form-row {
      padding-left: 2rem;
      margin-bottom: 5rem;
    }

    label {
      display: block;
      color: white;
      font-weight: unset;
    }

    .row > div > div {
      text-align: center;
      height: 6rem;
      line-height: 6rem;
    }

    .row:nth-child(2) > div {
      border-top: solid 1px white;
      border-right: solid 1px white;
    }

    .row:nth-child(3) > div {
      border-top: solid 1px white;
    }

    .row:last-child > div {
      border-bottom: solid 1px white;
      border-top: solid 1px white;
    }

    form {
      .StripeElement {
        border-radius: 0;
        box-shadow: none;
        background-color: black;
        outline: solid 1px white;
        height: 40px;
        width: 66.66%;
        margin-bottom: 4rem;
        font-family: "SF UI";
        font-weight: 400;
        padding-bottom: 3rem;
      }
    }

    button {
      color: inherit;
      background-color: inherit;
      border: none;
      margin-right: 50px;
      outline: none;
    }
  }
}

@media (max-width: 768px) {
  .section {
    &__checkout {
      padding-right: 2rem;
    }

    &__payment {
      form {
        .StripeElement {
          width: 95%;
        }
      }
    }
  }
}
